body{
    
    font-family: Arial, Helvetica, sans-serif aldrich;
    font-size: 15px;

    background-image:url(marvel/bbbbbb.jpg);
    background-size: cover;
}
td { 
    
   font-size:15px;
   background-color: #372828; 
     
}
p{
    font-size:15px;

}
